<style type="text/css" media="screen">
    #editor {
    position: absolute;
    top: 100px;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50%;
    }
</style>

<div id="editor">def testFunction(hey: String) = {
    println(hey)
}
</div>

<script src="@routes.Assets.versioned("javascripts/ace-builds-master/src-noconflict/ace.js")" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/scala");
    editor.getSession().on('change', function(e) {console.info("change")})
</script>